<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Your head content here -->
    <script src="https://kit.fontawesome.com/8045a273a1.js" crossorigin="anonymous"></script>
    <title>Sheet</title>
    <link rel="stylesheet" type="text/css" href="/public/css/dashboard.css">

</head>

<body>
    <div class="navi">
        <nav style="background-color: #202222;">
            <div class="left-links">
               
                <div class="logo" style="background: linear-gradient(to right, #7500aa, #2b86c5); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">TakeUforword</div>
            </div>
            <div class="center-links">
                <a href="/solve"style="background-color:#333333;">Solve</a>
                <a href="/result"   >Result</a>

            </div>
        
        </nav>
    </div>
    <div class="default-data">
        <i class="fa-solid fa-code-merge"></i>        
        <p>Feature under development.  </p>
        <p> Beta release, March 27, 2024.</p>
    </div>

  

</body>

</html>
